<div class='card'>
  <div class='card-body'>
    <h2 class="card-title d-flex justify-content-between mb-4">
      <span> Edificios </span>
      <%= link_to  'Nuevo Edificio',new_building_path, class: 'btn btn-primary' %>
    </h2>

    <% @buildings.each do |building| %>
      <%= link_to building, class: 'text-decoration-none' do %>
        <div class='card building-card mb-3'>
          <div class='card-body'>
            <h5 class='card-title text-dark'><b><%= building.name %> </b></h5>
            <p class='text-secondary'><%= building.address %></p>
            <p class='text-secondary'><%= building.city %></p>
          </div>
        </div>
      <% end %>  
    <% end %>
  
    
    



  </div>
</div>





