<%= link_to 'Back', buildings_path, class: 'btn btn-light mb-3' %>
<div class='card'>
  <div class='card-body'>
    <h2 class="card-title d-flex justify-content-between mb-4">
      <span> <%= @building.name %> </span>
      <div>
        <%= link_to 'Editar', edit_building_path(@building), class: 'btn btn-light' %>
        <%= link_to 'Eliminar', @building, method: :delete, class: 'btn btn-secondary', data: {confirm: '¿Estás seguro?'} %>
      </div>
    </h2>
    <div class='mb-4'>
       <h6>Agregar Departamento</h6>

          <%= form_for([@apartment.building, @apartment]) do |f| %>
            <% if @apartment.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@apartment.errors.count, "error") %> no se puede guardar este Departamento:</h2>

                  <ul>
                  <% @apartment.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
              </div>
            <% end %>

            <div class="input-group">
             
              <%= f.number_field :number, class: 'form-control' %>
              <%= f.select :status, Apartment::STATUS_OPTION,  class: 'form-control' %>
              <div class='input-group-append'>
                <%= f.submit  class: 'btn btn-primary' %>
              </div>
            </div>
            
           
          <% end %>
    </div>
     

          <h4> Departamentos </h4>
          <% @building.apartments.each do |apartment| %>
            <% if apartment.persisted? %>
                <div class='card mb-3'>
                  <div class='card-body'>
                    <div class='d-flex justify-content-between'>
                      <span class='badge badge-<%= apartment.badge_color %> mb-3'><%= apartment.status %></span>
                    </div>
                    <div>
                        <%= link_to 'Editar', edit_building_apartment_path(apartment.building, apartment), class: 'btn btn-light btn-sm' %>
                        <%= link_to 'Eliminar', [apartment.building, apartment], method: :delete, class:'btn btn-secondary btn-sm', data: { confirm: 'Are you sure?' } %>
                    </div>
                    
                    <h5 class="card-title  mb-2">
                      <span><%= apartment.number %></span>
                     
                    </h5>
                    
                  </div>
                </div>
            <% end  %>    
          <% end %>
  </div>
</div>




