<%= form_for([@apartment.building, @apartment]) do |f| %>
  <% if @apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apartment.errors.count, "error") %> no se puede guardar este Departamento:</h2>

      <ul>
      <% @apartment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Número Departamento %><br />
    <%= f.number_field :number, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :Estado %><br />
    <%= f.select :status, Apartment::STATUS_OPTION, {}, class:'form-control' %>
  </div>
  
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
 
 